<div data-role="view" data-title="Choose Destination" data-layout="main" data-model="app.ticketing.ticketingModel" data-bind="events: { show: busShow }">
    
    <header data-role="header">
            <!--<span id="appName">BuzzIn</span>-->
        <div data-role="navbar" class="header-text">
            <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
<!--             <a data-role="backbutton" data-align="left">Back</a> -->
            <a data-role="backbutton" class="customBtn otherBtn" data-align="left"> &lt; </a>
           <span data-role="view-title" style="font-size: 18px;"></span>
            <!--<img src="images/profile_icon.png" width="20px"/>-->
        </div>
       
    </header>

    <div class="busStand">
        
        <h2>
            Bus Stand - <span style="color:#2F8190" data-show="fooShow">Charlton</span>
        </h2>
        <h4 data-bind="text: currentBus.busNumber">
            
        </h4>
        
            <select id="destinationList" class="destSelect" data-role="dropdownlist">
            <option value="0">Select your destination</option>
            <option value="1">Oldham</option>
            <option value="2">Pendleton</option>
            <option value="3">Radcliffe</option>
            <option value="4">Rochdale</option>
            <option value="5">Shudehill</option>
            </select>
        
    </div>
    
    <div class="ticketType">
        <p>
            <input type="radio" id="single" name="radioTicket" value="Single Ticket" class="k-radio" checked="checked">
              <label class="k-radio-label" for="single">Single Ticket</label>
        </p>
        
        <div style="overflow:hidden;text-align:center;width:90%;margin: 0 auto;margin-top:30px;margin-bottom:30px;">
            <span class="lineleft">left</span>
            <span class="or">OR</span>
            <span class="lineright">right</span>
        </div>
        <p>
              <input type="radio" id="dayRider" name="radioTicket" value="Dayrider Ticket" class="k-radio">
              <label class="k-radio-label" for="dayRider">DayRider Ticket</label>
        </p>

    </div>
    
    <footer data-role="footer" style="text-align:center">
        <!--<div style="float:left;margin-bottom:10px">
            <span class="payMessage">Please press below button to Pay !!</span>
        <img class="curve_arrow" src="images/curved_arrow.png"/>
        </div>-->
        
        <div class="payBtnHolder">
            <button data-url="text: currentBus.busNumber" class="payButton" type="button">Wallet
            </button>
                
            <button data-url="text: currentBus.busNumber" class="payButton" type="button">Pay

            </button>
        </div>

        </footer>

    <!-- START_CUSTOM_CODE_ticketingModel -->
    <!-- END_CUSTOM_CODE_ticketingModel -->
            </button>
    <script>
    function showBusNumber(e) {
         console.log(e.view.params); // {bar: "baz"}
    }
	</script>
</div>