<div data-role="view" data-title="Details" data-model="app.ticketing.ticketingModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" class="customBtn" data-align="left"> &lt; </a>
<!--             <a data-role="backbutton" data-align="left">Back</a> -->
            <span data-bind="text: currentItem.Title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;font-size: 18px;"></span>
        </div>
    </header>
    
    <h3 data-bind="text: currentItem.Title" style="font-size:18px"></h3>
    <img data-bind="attr: { src: currentItem.imageUrl }" width="100%" height="auto">
    <h3 data-bind="text: currentItem.Price" style="color:teal"></h3>
    <p data-bind="text: currentItem.Description"></p>

    <!-- START_CUSTOM_CODE_ticketingModel -->
    <!-- END_CUSTOM_CODE_ticketingModel -->
</div>