<div data-role="view" data-title="Ticket" data-layout="main" data-model="app.ticketing.ticketingModel" data-bind="events: { show: ticketShow }" >
    
    <header data-role="header">
            <!--<span id="appName">BuzzIn</span>-->
        <div data-role="navbar" class="header-text">
            <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
<!--             <a data-role="backbutton" data-align="left">Back</a> -->
            <a data-role="backbutton" class="customBtn otherBtn" data-align="left"> &lt; </a>
           <span data-role="view-title" style="font-size: 18px;"></span>
            <!--<img src="images/profile_icon.png" width="20px"/>-->
        </div>
       
    </header>

    <div style="background:#fff;text-align:center">
        
        <h1 class="currentTime">09:08
        </h1>
        <h3 class="currentDate" style="margin: 0;font-size: 18px;">
            Expires On Mon 27th Sep
        </h3>
        
        <div class="userDetail">
            <div class="userImage"> 
            	<img src="images/profileImage.jpg" width="100%" height="100%" class="userProfileImage"/>
            </div>
            <div class="userText">
                <div class="userTextItem">
                    <span class="userNameLabel"> Name : </span>
                    <span class="name">Miss J Kinder</span>
                </div>
                <div class="userTextItem inverted" >
                    <span class="busTicket pull-left"></span>
                	<span data-bind="text: currentTicket.type" class="ticket">Single Ticket</span>
                </div>
                <div class="userTextItem">
                	<span data-bind="text: currentTicket.busNumber" class="lineNum">Line 201</span>
                    <span class="provider"> Stagecoach </span>
                </div>
            </div>
            
        </div>
        
        <div class="busRoute">
            <h3>
                Bus Route : Charltopn - <span data-bind="text: currentTicket.destination">Shudehill</span>
            </h3>
        </div>
        
        <div class="ticketQR">
            <img src="images/calf.png" width="84%"/>
           
        </div>
        

    </div>
    
    <footer data-role="footer" style="text-align:center">
        </footer>

    <!-- START_CUSTOM_CODE_ticketingModel -->
    <!-- END_CUSTOM_CODE_ticketingModel -->
            </button>
    <script>
        console.log("Current time" + time);
        $('.currentTime').text(time);
        $('.currentDate').text("Expires on "+currentdate);
        
        $('.ticType').text(localStorage.getItem("type"));
        localStorage.removeItem("type");
	</script>
</div>