<div data-role="view" data-title="Travel" data-layout="main" data-model="app.ticketing" data-show="app.ticketing.onShow" data-after-show="app.ticketing.afterShow">
    <!-- START_CUSTOM_CODE_ticketing -->
    <!-- END_CUSTOM_CODE_ticketing -->
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <div id="touchSurface"
        data-role="touch"
        data-enable-swipe="1"
        data-touchstart="myTouch.touchstart"
        data-swipe="myTouch.swipe">
        <h2>Ready for your Ride</h2>
        
	<p style="font-size:18px">Please select your Bus from below :</p>
        <div id="beaconlog" style="text-align: left; font-size: 18px; margin-left: 5%; width:90%; border-top: 1px solid #DDD; padding: 5px; color: #666">
            <span id="beaconCount" style="display:none"></span>
                <a id="loader">Please wait , we are looking Busses for you.....</a>
        </div>
	    <ul id="found-beacons" class="dynamic"></ul>
        
        <!--Travel Deals List-->
        <div>
        <h2 >May interest you</h2>
    <ul data-role="listview" 
        data-style="" 
        data-template="ticketingModelTemplate" 
        data-bind="{ source: ticketingModel.dataSource, events: {click: ticketingModel.itemClick}}" 
        data-pull-to-refresh="false" 
        data-endless-scroll="true">
    </ul>
             </div>
        </div>
    <!-- START_CUSTOM_CODE_ticketingModel -->
    <!-- END_CUSTOM_CODE_ticketingModel -->
    <script type="text/x-kendo-template" id="ticketingModelTemplate">
        <div class="image-with-text">
            <h3><span class="#: data.icon() #"></span>#: data['Title'] #</h3>
            <p>#: data['Price'] #</p>
        </div>
    </script>
    <script>   
    window.myTouch = {
        swipe: function(e) { 
            /*var app = new kendo.mobile.Application(document.body, {

                    // you can change the default transition (slide, zoom or fade)
                    transition: 'slide',
                    // comment out the following line to get a UI which matches the look
                    // and feel of the operating system
                    skin: 'flat',
                    // the application needs to know which view to load first
                    statusBarStyle: 'black-translucent'
                });*/
            
            if(e.direction == "left"){
                //swipeView();
                //window.location = 'components/home/view.html?html';
                //var app = new kendo.mobile.Application();
				//app.navigate('components/home/view.html');
               
                app.mobileApp.navigate('#components/home/view.html');
                //window.app.navigate("#homeModelTemplate");
            }else {
                //alert("It Swiped Right");
                //window.app.navigate("#nearMeListModelTemplate");
                app.mobileApp.navigate('#components/nearMeList/view.html');
            }
        },
    	}
</script>
</div>