#kendoUiMobileApp .image-with-text img {
    float: left;
    margin-right: 15px;
}

#kendoUiMobileApp .block {
    display: block;
    margin: 1em;
    padding: 1em;
    text-align: center;
}

#kendoUiMobileApp .button-group,
#kendoUiMobileApp .icon-group {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 1em;
}

#kendoUiMobileApp .button-group {
    table-layout: fixed;
}

#kendoUiMobileApp .button-group .km-button {
    display: table-cell;
    padding: .6em .8em;
    margin: 1em 0;
}

#kendoUiMobileApp .button-group.button-group-vertical .km-button {
    display: block;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary {
    color: #fff;
    background-color: #10c4b2;
}

#kendoUiMobileApp.km-ios7 .button-group .km-button.primary {
    color: #fff;
    background-color: #007aff;
}

#kendoUiMobileApp.km-android .button-group .km-button.primary {
    color: #fff;
    background-color: #33b5e5;
}

#kendoUiMobileApp .group-separator {
    border: none;
    background: transparent;
}

#kendoUiMobileApp .group-separator-header {
    margin: 1em 0;
}

#kendoUiMobileApp .app-icon {
    text-align: center;
    margin: 3em 0;
}

#kendoUiMobileApp .view-title {
    text-align: center;
    font-weight: normal;
}

#kendoUiMobileApp .km-drawer-button:after,
#kendoUiMobileApp .km-drawer-button:before {
    content: '\e077';
}

#kendoUiMobileApp.km-flat .km-drawer .km-content {
    background-color: #fcfcfc;
}

#kendoUiMobileApp .icon-group .app-icon,
#kendoUiMobileApp .icon-group .app-details {
    display: table-cell;
    vertical-align: top;
}

#kendoUiMobileApp .icon-group .app-icon {
    margin: 0;
    width: 5em;
    overflow: hidden;
    text-align: left;
}

#kendoUiMobileApp .icon-group .app-icon img {
    display: block;
    max-width: 5em;
    height: auto;
}

#kendoUiMobileApp .icon-group .app-details h2,
#kendoUiMobileApp .icon-group .app-details h4 {
    font-weight: normal;
    margin: 0;
}

#kendoUiMobileApp .icon-group .app-details h4 {
    color: #828282;
    margin-top: 0.5em;
}


/* START_CUSTOM_CODE_kendoUiMobileApp */

/*body background*/
.km-content {
    background-color: #ffffff !important;
}

/*Navigation Bar*/
.km-flat .km-navbar{
    border:none !important;
}

.km-on-ios.km-black-translucent-status-bar.km-app .km-header .km-navbar {
    padding-top: 0px !important;
}

/*header background*/
.km-header {
    background-color: #2F8190 !important;
    text-align: center;
    padding-top:3px ;
}

/*header text*/
.km-view-title{
    color:#fff;
    font-weight:bold;
}

/* Header Action Button*/
.actionBar{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: space-between;
    justify-content: space-around;
}

.homeBtn{
    flex-grow: 1;
    width: 21px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.accountBtn {
    flex-grow: 1;
    width: 15px;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
}

/*Back button*/
.km-back{
    background:#fff !important;
    color:#2F8190 !important;
    margin-left:3px !important;
    padding: 4px 10px !important;
        margin-top: 25px;
}

/*App Name*/
#appName {
    vertical-align:bottom;
    color:white;
    font-size:20px;
    margin-left:5px;
    font-weight:bold;
}

/*Page Title*/
.km-view-title {
    background-color: #2F8190 !important;
}

.km-footer {
    background:#ffffff !important;
}

.km-tabstrip {
    padding-left: 5px !important;
    padding-right:5px !important;
    padding-top : 5px !important;
}

.km-tabstrip .km-button {
    color : #C0C0C0 !important;
    margin-left:3px !important;
}


.km-tabstrip .km-state-active {
    background: transparent !important;
    border-bottom:3px solid #b0605d !important;
    color : #fff !important;
}

/*Tabstrip text alignment*/
#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: bottom !important;
}

/*Hide icons*/
span.km-icon.km-cart , span.km-icon.km-wifi , span.km-icon.km-globe{
    display:none !important;
}
.km-flat .km-list>li {
    background : #f1f2f2 !important;
    border:1px solid #939598 !important;
    margin-bottom:15px !important;
}

/*Tabs Text Style*/
.km-tabstrip .km-button .km-text{
    font-size:18px !important;
    padding-bottom:3px;
}

/*Deal Price*/
#price{
    color: #2F8190;
    font-size:17px;
    font-weight:bold;
    text-align:center;
}

/*Get Deal Button*/
#getDeal{
    background: #2F8190;
    color: #fff;
    padding:7px 5px;
    font-size:15px;
    width:70px;
    text-align:center;
    float:right;
}

/** List Of Bus items **/

/** For the List Container **/
.buslist {
  display: flex; 
  flex-direction: column;
  align-items: stretch;
}

/** made it Flex Box @author: Brendan... **/ 
.buslist_item , .offerlist_item {
    display:flex-item;
	flex-grow:1;     
    vertical-align: middle;
	line-height: 32px;
    /** Button like **/
    padding: 5px;
    background-color: #f1f2f2;
    border: 1px solid #939598;
    border-radius: 0;
   	margin:10px 3px; 
    box-shadow:0px 2px 3px teal;
}

.buslist_item .busIcon , .offerlist_item .busIcon{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.buslist_item .arrow, .offerlist_item .arrow{
    float:right;
    width: 10px;
    height: 15px;
    margin-right:10px;
    margin-top:30px;
}

.buslist_item .busText  , .offerlist_item .busText {
    display: inline-block;
    color:#000;
    font-size: 20px;
    font-weight: bold;
	margin-top: -10px;
    margin-left:10px;
}

.buslist_item .busText p , .offerlist_item .busText p{
    margin:0;
    padding:0;
}

.buslist_item .busText .busTextMiles , .offerlist_item .busText .busTextMiles{
    font-size: 15px;
}

.busStand {
    background-color: #f1f2f2;
    border:1px solid #939598;
    text-align:center;
}


/* END_CUSTOM_CODE_kendoUiMobileApp */


/*Fix navigation labels*/

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button {
    vertical-align: top;
}

#kendoUiMobileApp #navigation-container.km-tabstrip .km-button .km-text {
    max-width: 100%;
    word-wrap: break-word;
}

#kendoUiMobileApp #navigation-container .active {
    background: #10c4b2;
    color: #fff;
}

#kendoUiMobileApp #navigation-container .active:after {
    color: #fff;
}

.customBtn {
    background: transparent !important;
    font-weight: bold;
    border:0 !important;
    border-radius: 0;
    color: #fff !important;
}

.otherBtn{
        margin-top: 28px !important;
}

.customBtn > span {
    font-size: 26px;
}



