.busStand {
    background-color: #f1f2f2;
    border:1px solid #939598;
    text-align:center;
}

.busStand h2{
    border-bottom:1px solid #000;
}

#destinationList {
    width:90%;
    margin:0 auto;
    padding:5px;
    border-radius:10px;
    border:1px solid #939598;
    background:#fff;
    margin-bottom:15px;
    color:#939598;
    font-size:17px;
}

.ticketType{
    margin-top:40px;
}

.k-radio-label {
    background-color: teal;
    padding: 8px;
    color: #fff;
    font-size:18px;
    background-image: url("../images/ticket.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 4px;
    padding-left: 30px;
    padding-right:60px;
}

.lineleft , .lineright ,.or{
    position:relative;
    float:left;
    
}

.lineleft , .lineright {
    color:#fff;
    width:40%;
       
}

.lineleft::after , .lineright::after {
    position: absolute;
    left: 0;
    height: 3px;
    background: #000;
    content: '';
    width:100%;
    top:8px;
}

.or {
    font-weight:bold;
    font-size:16px;
    color:#000;
    padding:2px 7px;
}

.payBtnHolder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: space-between;
    justify-content: space-around;
    padding: 5px;
}

.payButton , .payDeal{
	flex-grow: 1;
    background-color:teal;
    padding: 10px 5px;
    border:none;
    border-radius:10px;
    width:35%;
    color:#fff;
    font-size:20px;
   
}

.payButton:first-of-type , .payDeal:first-of-type {
    margin-right: 2px;
}

.payButton:last-of-type , .payDeal:last-of-type {
    margin-left: 2px;
}

.payMessage{
    float: left;
    font-size:18px;
    padding: 10px;
    font-weight: bolder;
    color: teal;
}

.curve_arrow{
    width: 25px;
    margin-top: 10px;
    margin-left: 0;
    float: left;
}

.currentTime{
     color: teal;
    font-size: 100px;
    margin: 0;
}

.userDetail {
    overflow:hidden;
    text-align:center;
    padding:5px;
}

.profileImage{
    width:100px;
    float:left;
    margin-left: 25px;
}

.profileText{
    float:left;
    margin-left:5px;
    padding:5px;
}

.userName{
    background:#f1f1f1;
    border:1px solid #939598;
    padding:5px 10px;
    color:#000;
    text-transform:uppercase;
    float:left;
}

.ticType{
    background-color: teal;
    padding:5px 10px;
    padding-left:27px;
    color: #fff;
    font-size:18px;
    background-image: url("../images/ticket.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 4px;
    float:left;
    margin-top:10px;
}

.busRoute h3{
        background-color: teal;
    padding: 5px 0px;
    color: #fff;
}


.userDetail {
	width: calc(100% - 20px);
    display: flex;
    flex-direction: row; 
    align-items: space-around;
    padding: 5px;
    margin: 10px;
}

.userDetail .userImage {
    margin-right: 10px;
    width: 33.3333%;
}

.userDetail .userImage img {
    width: 100%;
    height: 100%;    
}

.userDetail .userText {
    width: 66.6666%;
    display: flex;
    flex-direction: column;
}

.userDetail .userText .userTextItem {
    border: 1px #CDCED0 solid;
    padding: 3px;
    background: #F2F3F4;
    margin: 2px;
    padding-top: 10px;
}

.userDetail .userText .userTextItem.inverted {
    background: #248290;
    color: #f2f2f2;
}



.userDetail .userText .userTextItem .lineNum, .userDetail .userText .userTextItem  .provider {
    display: block-inline;
    text-align: centre;
}

.userDetail .userText .userTextItem span:first-of-type: {
    border-left: 1px solid #CDCED0;
}

.userDetail .userText > div {
    flex-grow: 1;
}

.userDetail .userText .userName .name {
    font-weight: bold;
}

.pull-left {
 float: left;   
}

.pull-left::before {
    clear:both;
}

.busTicket {
    width:32px;
    height:32px;
    background-image: url( '../images/ticket.png' );
    background-size: 32px 32px; 
    margin: 2px;
}

.offer{
    padding:10px;
    
}
