<div data-role="view" data-title="Details" data-model="app.nearMeList.nearMeListModel" data-bind="events: { show: offerShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
<!--             <a data-role="backbutton" data-align="left">Back</a> -->
            <a data-role="backbutton" class="customBtn otherBtn" data-align="left"> &lt; </a>
            <span data-bind="text: currentItem.Title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;font-size: 18px;"></span>
        </div>
    </header>

<!--     <h3 data-bind="text: currentItem.Summary"></h3> -->
    <img data-bind="attr: { src: currentItem.imageUrl }" width="100%" height="auto">
    <p data-bind="text: currentItem.Description"></p>
    
    <!-- START_CUSTOM_CODE_nearMeListModel -->
    <footer data-role="footer" style="text-align:center">
    	<!--<div style="float:left;margin-bottom:10px">
            <span class="payMessage">Please press below button to Pay !!</span>
        <img class="curve_arrow" src="images/curved_arrow.png"/>
        </div>
        
        <button id="button" class="payDeal" type="button">
            <img src="images/red_smile.png" width="35px"/> -->
        
        <div class="payBtnHolder">
            <button class="payDeal" type="button" data-bind="events: { onClick: payClick }" >Wallet
            </button>
                
            <button class="payDeal" type="button">Pay

            </button>
        </div>
        
    </footer>
    <!-- END_CUSTOM_CODE_nearMeListModel -->
</div>