<div data-role="view" data-title="Offers" data-layout="main" data-model="app.nearMeList.nearMeListModel" data-bind="events: { show: offerShow }">
    
    <header data-role="header">
            <!--<span id="appName">BuzzIn</span>-->
        <div data-role="navbar" class="header-text">
            <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
<!--             <a data-role="backbutton" data-align="left">Back</a> -->
            <a data-role="backbutton" class="customBtn otherBtn" data-align="left"> &lt; </a>
           <span data-role="view-title" style="font-size: 18px;"></span>
            <!--<img src="images/profile_icon.png" width="20px"/>-->
        </div>
       
    </header>

    <div class="offer">
        <h1 data-bind="text: currentOffer.offerNum"> 
        </h1>
        <h3>
            SELECTED MEALS, PIES & SIDES SAVE 25%
        </h3>
        
        <img src="images/mns.jpg" width="100%" height="200px" />
        
        <p>
            Autumn’s here – plan an evening in with tasty savings on a range of prepared meals, warming pies and sides
        </p>
        
    </div>
    
    <footer data-role="footer" style="text-align:center">
        <!--<div style="float:left;margin-bottom:10px">
            <span class="payMessage">Please press below button to Pay !!</span>
        <img class="curve_arrow" src="images/curved_arrow.png"/>
        </div>-->
        
        <div class="payBtnHolder">
            <button class="payButton" type="button">Wallet
            </button>
                
            <button class="payButton" type="button">Pay

            </button>
        </div>

        </footer>

    <!-- START_CUSTOM_CODE_ticketingModel -->
    <!-- END_CUSTOM_CODE_ticketingModel -->
            </button>
    <script>
    function showData(e) {
         console.log(e.view.params) ; // {bar: "baz"}
    }
	</script>
</div>