<div data-role="view" data-title="Near Me" data-layout="main" data-model="app.nearMeList" data-show="app.nearMeList.onShow" data-after-show="app.nearMeList.afterShow">
    <!-- START_CUSTOM_CODE_nearMeList -->
    <div id="touchSurface"
        data-role="touch"
        data-enable-swipe="1"
        data-touchstart="myTouch.touchstart"
        data-swipe="myTouch.swipe">
        <h2>
            Deals Near you
        </h2>
        <h3>
            Enjoy below offers near you !!
        </h3>
        <div id="restLog" style="text-align: left; font-size: 18px; margin-left: 5%; width:90%; border-top: 1px solid #DDD; padding: 5px; color: #666">
            <span id="restCount" style="display:none"></span>
                <a id="offerLoader">Please wait , we are looking deals around you....</a>
        </div>
	    <ul id="found-beacons" class="dynamic"></ul>
    <!-- END_CUSTOM_CODE_nearMeList -->
        <div id="map" style="height:150px;margin:5px;padding:0;display:none">
        </div>
    <ul data-role="listview" data-style="inset" data-template="nearMeListModelTemplate" data-bind="{ source: nearMeListModel.dataSource, events: {click: nearMeListModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_nearMeListModel -->
    </div>
    <!-- END_CUSTOM_CODE_nearMeListModel -->
    <script type="text/x-kendo-template" id="nearMeListModelTemplate">
        <div class="image-with-text">
            <img src="#: data['imageUrl'] #" width="30%" height="30%">
            <h3>#: data['Title'] #</h3>
            <p>#: data['Summary'] #</p>
            <div id="getDeal">Get It</div>
        </div>
    </script>
    <script>
        var currentLat , currentLng;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
               alert("Current Location is not supported");
            }
        }
        function showPosition(position) {
            var currentLocation = "Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude; 
            console.log(currentLocation);
        }
        
        document.addEventListener("deviceready",function(e){
                                  getLocation();
                                  });
</script>
    <script>   
    window.myTouch = {
        swipe: function(e) { 
            /*var app = new kendo.mobile.Application(document.body, {

                    // you can change the default transition (slide, zoom or fade)
                    transition: 'slide',
                    // comment out the following line to get a UI which matches the look
                    // and feel of the operating system
                    skin: 'flat',
                    // the application needs to know which view to load first
                    statusBarStyle: 'black-translucent'
                });*/
            
            if(e.direction == "left"){
                //swipeView();
                //window.location = 'components/home/view.html?html';
                //var app = new kendo.mobile.Application();
				//app.navigate('components/home/view.html');
               
                app.mobileApp.navigate('#components/ticketing/view.html');
                //window.app.navigate("#homeModelTemplate");
            }else {
                //alert("It Swiped Right");
                //window.app.navigate("#nearMeListModelTemplate");
                app.mobileApp.navigate('#components/home/view.html');
            }
        },
    	}
</script>
    <script>
        var map;
        var infowindow;

        function initMap() {
          var pyrmont = {lat: -33.867, lng: 151.195};

          map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 15
          });

          infowindow = new google.maps.InfoWindow();

          var service = new google.maps.places.PlacesService(map);
          service.nearbySearch({
            location: pyrmont,
            radius: 500,
            types: ['store']
          }, callback);
        }

        function callback(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              createMarker(results[i]);
            }
          }
        }

        function createMarker(place) {
          var placeLoc = place.geometry.location;
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });

          google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
          });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA51nwzxvfCAWq0xlH7ZGF2vFVcljJcgGQ&signed_in=true&libraries=places&callback=initMap" async defer></script>
</div>