<div data-role="view" data-title="Receipt">
    <header data-role="header">
        <div class="actionBar">
                <img src="images/home.png" style="    width: 17px;
    height: 15px;float: left;margin-right: 100px;margin-top:2px;margin-left:2px" />
                <img src="images/buzzin_white.png" width="70px" height="23px" /> 
                <img src="images/account.png" style="    width: 17px;
    height: 15px;float: right;margin-left: 100px;margin-top:2px;margin-right:2px"/>
            </div>
            <!--<span id="appName">BuzzIn</span>-->
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" class="customBtn" data-align="left"> &lt; </a>
             <span data-role="view-title" style="font-size: 18px;"></span>
        </div>
    </header>
   <img src="images/listone.png" width="100%" height="100%" style="width:100%;height:100%;"/>
    
    <!-- START_CUSTOM_CODE_homeModel -->
    
    <footer data-role="footer" style="text-align:center">
    	<!--<div style="float:left;margin-bottom:10px">
            <span class="payMessage">Please press below button to Pay !!</span>
        <img class="curve_arrow" src="images/curved_arrow.png"/>
        </div>
        
        <button id="button" class="payDeal" type="button">
            <img src="images/red_smile.png" width="35px"/> -->
        
    </footer>
    
    <!-- END_CUSTOM_CODE_homeModel -->
</div>