<div data-role="view" data-title="Receipt" data-model="app.home.homeModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <img src="images/white_smiley.png" width="30px" height="30px"/> 
            <!--<span id="appName">BuzzIn</span>-->
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
           <span data-role="view-title"></span>
            <!--<img src="images/profile_icon.png" width="20px"/>-->
        </div>
       
    </header>
    
    <h2 data-bind="text: currentItem.Title">
        
    </h2>
    <img data-bind="attr: { src: currentItem.imageUrl }" width="100%" height="auto">
    <h3 data-bind="text: currentItem.Location"></h3>
    <p data-bind="text: currentItem.Description"></p>

    <!-- START_CUSTOM_CODE_homeModel -->
    
    <footer data-role="footer" style="text-align:center">
    	
    </footer>
    
    <!-- END_CUSTOM_CODE_homeModel -->
</div>