<div data-role="view" data-title="Deals" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <div id="touchSurface"
        data-role="touch"
        data-enable-swipe="1"
        data-touchstart="myTouch.touchstart"
        data-swipe="myTouch.swipe">
    <div>
    <!-- END_CUSTOM_CODE_home -->
    <ul data-role="listview" data-style="inset" data-template="homeModelTemplate" data-bind="{ source: homeModel.dataSource, events: {click: homeModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_homeModel -->
        </div>
    <!-- END_CUSTOM_CODE_homeModel -->
    <script type="text/x-kendo-template" id="homeModelTemplate">
        <div class="image-with-text" style="overflow:hidden">
            <img src="#: data['imageUrl'] #" width="25%" height="25%" style="float:left">
            <div style="float:left;width:50%">
            <h3 style="margin: 0;">#: data['Title'] #</h3>
            </div>
            <div style="float:left;width:15%">
            <span id="price">#: data['Price']#</span>
            </div>
        </div>
        <p>#: data['Summary'] #</p>
        <div id="getDeal">Get It</div>
    </script>
    
    <script>   
    window.myTouch = {
        swipe: function(e) { 
            /*var app = new kendo.mobile.Application(document.body, {

                    // you can change the default transition (slide, zoom or fade)
                    transition: 'slide',
                    // comment out the following line to get a UI which matches the look
                    // and feel of the operating system
                    skin: 'flat',
                    // the application needs to know which view to load first
                    statusBarStyle: 'black-translucent'
                }); */
            
            if(e.direction == "left"){
                //swipeView();
                //window.location = 'components/home/view.html?html';
                //var app = new kendo.mobile.Application();
				//app.navigate('components/home/view.html');
               
                app.mobileApp.navigate('#components/nearMeList/view.html');
                //window.app.navigate("#homeModelTemplate");
            }else {
                //alert("It Swiped Right");
                //window.app.navigate("#nearMeListModelTemplate");
                app.mobileApp.navigate('#components/ticketing/view.html');
            }
        },
    	}
</script>
</div>